<link rel="stylesheet" href="/static/style.css" type="text/css">

{% block body %}
<h1 id="welcome">"Welcome to the Book Nook!"</h1>
	<div class="login-screen" id="inspire">
		<h1>"Hello Super Reader!"</h1>
		Click the button for a cool quote about Reading.
<!-- animate drop in text BOOKS 
	<div class="outer">
		<div class="booktext" data-text="BOOKS!">BOOKS!</div>
		<span class="gradient"></span>
		<span class="spotlight"></span>
	</div>

-->
<input type="submit" value="Click for reading quotes." class="btn btn-primary btn-large btn-block" id="submit" onclick="inspireQuote();">
		 <a href='/logout' class="logout">Logout</a>
	</div>
<script>
	var quotes = [
	"\“Reading without reflecting is like eating without digesting.\” \<sub>– Edmund Burke\</sub>",
	"\“Books are a uniquely portable magic.\” \<sub>– Stephen King\</sub>",
	"\“Reading is to the mind what exercise is to the body.\” \<sub>– Richard Steele\</sub>",
	"\“Reading is a discount ticket to everywhere.\”  \<sub>– Mary Schmich\</sub>",
	"\“Once you learn to read, you will be forever free\”  \<sub>– Frederick Douglass\</sub>",
	"\"Today a reader, tomorrow a leader.\" \<sub>– Margaret Fuller\</sub>",
	"\“There is more treasure in books than in all the pirate’s loot on Treasure Island.\” \<sub>– Walt Disney\</sub>",
	"\“You can find magic wherever you look.  Sit back and relax all you need is a book!\” \<sub>– Dr. Seuss\</sub>",
	"\"If you are going to get anywhere in life you have to read a lot of books.\” \<sub>– Roald Dahl\</sub>",
	"\"No entertainment is so cheap as reading, nor any pleasure so lasting.\" \<sub>— Lady Montagu\</sub>"

]


function inspireQuote() {
	var randomNumber = Math.floor(Math.random() * (quotes.length));
	document.getElementById('inspire').innerHTML = quotes[randomNumber]; 
//	 + " " + "Back";
console.log(quotes[randomNumber]);
}
</script>


 {% endblock %}